<h1> Travel Diary </h1>
<p> Select a city for travel stories or create a new city's story! </p>

<ul>

  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>">
        <%= place["name"] %>
      </a>
    </li>
  <% end %>
</ul>


<p>
  <a href="places/new"> <b> Add a new place </b> </a>
</p>